<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retrieve</title>
</head>
    <body>
        <nav>
            <a href="{% url 'create_todo' %}">Create Task</a>
            <br>
            {% if username %}
                <b>You are Logged in as {{ username }}</b>
                <br>
                <a href="{% url 'logout_todo' %}">Logout</a>
                <br>
            {% else %}
                <a href="{% url 'signup_todo' %}">Sign Up</a>
                <br>
                <a href="{% url 'login_todo' %}">Login</a>
                <br>
            {% endif %}
        </nav>

        <form method="get" action=".">
            {{ search }}
            <input type="submit" value="Search">
        </form>
        <table>
            {% for object in object_list %}
                <tr>
                    <th><a href="{% url 'update_todo' object.id %}">{{ object.name }}</a></th>
                    <th>{{ object.due_date }}</th>
                    <th>{{ object.checked }}</th>
                    <th><a href="{% url 'delete_todo' object.id %}" style="color: red">Delete</a></th>
                    <th><a href="{% url 'share-todo' object.id %}" style="color: lawngreen">Share</a></th>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>