<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action=".">
        {% csrf_token %}
        {% for f in form %}
            {{ f.errors }}
            {{ f.label_tag }} {{ f }}
        {% endfor %}

{#        {% if form.errors %}#}
{#            <p style="color: red;">There are errors in your form:</p>#}
{#            <ul>#}
{#                {% for field, errors in form.errors.items %}#}
{#                    {% for error in errors %}#}
{#                        <li style="color: red;">{{ field }}: {{ error }}</li>#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}

        <input type="submit" value="Create">

    </form>
</body>
</html>
