{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{% static "style.css" %}">

</head>
<body>
    <div class="todo-container">
        <h2>To-Do List</h2>
            <a href="{% url 'create_todo' %}">Add</a>
        <ul id="taskList">
            {% for t in todos %}
                {% if t.checked is True %}
                    <form action="." method="post">
                        <a class="completed" href="{{ t.get_url }}">
                            <input type="checkbox" class="check" checked disabled>{{ t.id }} -  {{ t.name }} -  (Due: {{ t.due_date }} )
                         </a>
                        <a href="{% url 'delete_todo' t.id %}" style="color: darkred">
                            delete
                        </a>
                    </form>
                {% else %}
                    <form action="." method="post">
                        <a href="{% url 'update_todo' t.id %}">
                            <input type="checkbox" class="check" disabled>{{ t.id }} -  {{ t.name }} -  (Due: {{ t.due_date }} )
                        </a>
                        <a href="{% url 'update_todo' t.id %}" style="color: darkred">
                            delete
                        </a>
                    </form>
                {% endif %}

            {% endfor %}
        </ul>
    </div>

    <script src="{% static 'script.js' %}">
    </script>
</body>
</html>